header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 50px 0;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  box-shadow: 3px -10px 20px 0px #000;
  background-color: #fff;
  .logout {
      margin-left: 25px;
      background-color: #dc3545 !important;
  }
  h1 {
      a {
          color: #000 !important;
      }
  }
  .nav-wrap {
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        max-height: 60px;
        width: 15px;
      svg{
        height: 50px;
        position: absolute;
        width: 50px;
        &:hover{
            cursor: pointer;
        }
        &.x{
            transform: scale(0);
            transition: transform 400ms 50ms;
            .line {
                stroke-width: 5.5px;
            }
        }
        .line {
            fill: none;
            stroke: black;
            stroke-width: 6px;
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 50%;
            transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
            transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
        }
        .line1 {
            stroke-dasharray: 40 40;
        }
        .line2 {
            stroke-dasharray: 21 39;
        }
        .line3 {
            stroke-dasharray: 21 39;
        }
        .line4 {
            stroke-dasharray: 40 40;
        }
      }
      &.show{
        .line {
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
        }
        .line1 {
            stroke-dasharray: 1 40;
            stroke-dashoffset: -33px;
        }
        .line2 {
            stroke-dasharray: 5 39;
            stroke-dashoffset: -37px;
        }
        .line3 {
            stroke-dasharray: 5 39;
            stroke-dashoffset: -37px;
        }
        .line4 {
            stroke-dasharray: 1 40;
            stroke-dashoffset: -33px;
        }
        .x {
            transform: scale(1);
            transition: transform 400ms 50ms;
        }
      }
  }
  .langWrap {
      margin-left: 20px;
      .dropbtn {
          width: 160px;
      }
      .dropdown {
          position: relative;
          display: inline-block;
      }
      .dropdown-content {
          display: none;
          position: absolute;
          align-items: right;
          width: 160px;
          z-index: 1;
          a {
              color: black;
              padding-top: 5px;
              display: flex;
          }
      }
      .show {
          display: block;
      }
      a {
          text-decoration: none;
          color: white;
          img {
              border-radius: 10px;
              width: 50px;
              height: 38px;
              margin-left: auto;
          }
          img:hover {
              box-shadow: 1px 1px 5px 3px grey;
          }
      }
  }
}

.modal.custom{
    padding-right: 0;
    z-index: 9 !important;
    align-items: flex-start !important;
    overflow: hidden;
    margin-left: auto;
    &.noshow{
        width: 0px;
        padding-left: 0;
        padding-bottom: 0;
        transition: width .5s ease-in-out;
    }
    &.show{
        width: 100%;
        transition: width .5s ease-in-out;
    }
    .modal-dialog{
        margin-right: 0px !important;
        margin-top: 0px;
        .modal-content{
            border-radius: 16px 0 0 16px;
            height: 91vh;
        }
    }
    .modal-header.second{
        padding-top: 10px;
    }
    .modal-body{
        flex: none;
        &.account{
            display: flex;
            justify-content: space-between;
            .nav-btn-wrapper{
                svg{
                    width: 30px;
                    height: 30px;
                    margin: auto;
                    display: block;
                    fill: #000;
                    transition: fill .4s ease-in-out;
                }
                p{
                    color: #000;
                    transition: color .4s ease-in-out;
                }
                &:hover{
                    cursor: pointer;
                    svg{
                        fill: #007FFF;
                        transition: fill .4s ease-in-out;
                    }
                    p{
                        color: #007FFF;
                        transition: color .4s ease-in-out;
                    }
                }
                .router-link-active{
                    svg{
                        fill: #007FFF;
                        transition: fill .4s ease-in-out;
                    }
                    p{
                        color: #007FFF;
                        transition: color .4s ease-in-out;
                    } 
                }
            }
        }
        &.settings{
            max-height: 63.5%;
            overflow-y: scroll;
            .lang-drop{
                width: 75%;
                span{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #E5F2FF;
                    border-radius: 10px 10px 0 0;
                    padding: 10px;
                    border-bottom: solid 1px #CCE5FF;
                    &:hover{
                        cursor: pointer;
                    }
                    svg{
                        width: 13px;
                        height: 13px;
                        transform: rotate(0deg);
                        transition: all .5s ease-in-out;
                    }
                    &.open{
                        svg{
                            transform: rotate(180deg);
                            transition: all .5s ease-in-out;
                        }
                    }
                }
                .droper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    background: #E5F2FF;
                    border-radius: 0 0 10px 10px;
                    transition: height .4s ease-in-out;
                    overflow: hidden;
                    &.hide{
                        height: 0px;
                    }
                    &.open{
                        height: 155px;
                        padding-bottom: 5px;
                        // overflow-y: scroll;
                    }
                    a{
                        flex: 0 0 50%;
                        display: flex;
                        align-items: center;
                        width: 100px;
                        margin: 10px 0 5px;
                        img{
                            display: block;
                            width: 100%;
                            max-width: 90px;
                            height: auto;
                            margin: 0 auto 0;
                            border-radius: 5px;
                            box-shadow: #000 1px 3px 10px 0px;
                        }
                    }
                }
            }
        }
        .signup-wrapper{
            margin-top: 20px;
            margin-bottom: -25px;
            .link{
                display: flex;
                svg{
                    display: block;
                    width: 30px;
                    height: 30px;
                }
                p{
                    margin-left: 20px;
                    margin-bottom: 0px;
                    margin-top: auto;
                    margin-bottom: auto;
                }
                &:hover, &.router-link-active{
                    cursor: pointer;
                    svg{
                        fill: #007FFF;
                        transition: fill .4s ease-in-out;
                    }
                    p{
                        color: #007FFF;
                        transition: color .4s ease-in-out;
                    }
                }
            }
        }
        .muti-chat{
            margin-top: 55px;
            h5{
                font-size: 16px;
                margin-bottom: 20px;
            }
            .slect-chat-wrapper{
                width: 75%;
                margin-right: auto;
                margin-bottom: 30px;
                p{
                    font-size: 12px;
                    letter-spacing: 1px;
                }
                &.active{
                    .image-wrapper{
                        border-radius: 5px;
                        border: solid 1px #3399FF;
                    }
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .modal-footer{
        margin-top: auto;
    }
}